
$fonte: 'Raleway', sans-serif;

$titulo-nome: 1.5rem;
$titulo: 1.7rem;

$texto-padrao: 1rem;

$peso-titulo: 700;
$peso-link: 600;

$cor-link: black;
$cor-de-fundo-azul:  #EAF2FD;
$cor-de-fundo-gelo: #fffafa;